{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <style type="text/css">
        body{
            background: linear-gradient(45deg, #d8f0f3, #3eb4c1);
        }
    </style>
    <div class="container">
        <div class="col-md-12">
            {% if error %}
                <div class="alert alert-danger animated bounceInDown">
                    {{ error.messageKey|trans(error.messageData,'security') }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="login" class="col-md-4 centrer">
        <form action="{{ path('app_security_login') }}" method="post">
            <div class="form-row form-group">
                <label class="col" for="username">Identifiant</label>
                <input type="text" class="col form-control" id="username" name="_username" value="{{ lastUsername }}"/>
            </div>
            <div class="form-row form-group">
                <label class="col"for="password">Mot de passe</label>
                <input type="password" class="col form-control" id="password" name="_password"/>
            </div>
            {# <input type="hidden" name="_target_path" value="/apres-login" /> #}
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
{% endblock %}