{% extends 'base.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="{{ path('app_admin_montre') }}" class="btn btn-info">Les montres</a>
				<a href="{{ path('app_admin_variante') }}" class="btn btn-info">Les variantes</a>
			</div>
		</div>
	</div>
{% endblock %}