{% extends 'base.html.twig' %}


{% block body %}
    {{ parent() }}
    <style type="text/css">
        #menu {
            background-color: #1db1c8;
            padding: 15px;
        }
    </style>
    <div class="container container-top">
        <div class="row">
            <div class="col-md-12">
                <h3>Yo</h3>
            </div>
        </div>
    </div>
{% endblock %}